* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* height: 100%; */
    font-family: 'Montserrat';
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #aad3de;
    --color-text: #333333;
}

body {
    background-color: var(--bg);
}

/* header container */
.topnav {
    overflow: hidden;
    background-color: tomato;
    height: 47px;
}

.nav-right > a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 12px;
}

.nav-right > a:hover {
    background: royalblue;
}

.nav-right {
    float: right;
    padding: 12px;
}

.topnav > h1 {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

/* Mobile navigation */
.burgue-nav {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    display: none;
    cursor: pointer;
}

.itens-burgue {
    background: white;
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
}

.mobile-nav {
    text-align: center;
    display: none;
}

.mobile-nav > a {
    text-decoration: none;
    animation-delay: 3.5s;
    width: 100%;
    display: block;
    background: red;
    border-bottom: 1px solid #00000030;
    padding: 12px ;
    color: white;
}


/* container main map */
.container {
    display: flex;
    flex-flow: row wrap;
    /* background: red; */
    max-width: 95%;
    margin: auto;
}

/* Title section */
section {
    border-bottom: 1px solid burlywood;
    width: 100vw;
    padding: 10px 10px;

}

/* map settings */
.container-map {
    width: 70vw;
    margin: 30px auto;
}

#mapid {
    height: 60vh;
}

/* information table */
table, th, td {
    border-top: 1px solid #0000001c;
    border-collapse: collapse;
}

th, td {
    padding: 5px 50px;
}

table {
    border-spacing: 5px;
    margin: 30px auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}







@media screen and (max-width: 768px) {
    .nav-right {
        display: none;
    }

    .burgue-nav {
        display: block;
    }
    
}
 

