* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Montserrat';

    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #aad3de;
    --color-text: #333333;
}

body {
    background-color: var(--bg);
}

/* container all settings */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6vh 80vh 10vh 10vh;
    grid-template-areas: "header header"
                         "main main"
                         "iss-section iss-section"
                         "about-iss about-iss"
                         "footer footer"
    ;
}

header {
    grid-area: header;
    background-color: #f2efe9;
    border-bottom: 1px solid#33333380;
    
}

/* map settings */
.container-map {
    margin: 0 auto;
    width: 100%;
    grid-area: main;
}

#mapid {
    height: 80vh;
}

/* information section */
section.iss-realtime-info {
    background-color: var(--color-headings);
    grid-area: iss-section;
    font-size: 20px;
    display: flex;
    color: var(--color-text);
    border-top: 1px solid #33333380;
}

section.iss-realtime-info > div {
    display: inline-block;
    padding: 20px 20xp;
    width: 25%;
    text-align: center;
    margin-top: 7px;
}

section.iss-realtime-info > div > h4 {
    font-size: 30px;
}

/* about iss */
nav.about-iss {
    border-bottom: 2px solid #1C6EA4;
    border-radius: 0px 40px 0px 40px;
    grid-area: about-iss;
    background-color: blueviolet;
}

footer {
    border: 1px solid red;
    grid-area: footer;
}

/* Button ligth/dark mode */
.container-dark-mode {
    background-color: var(--bg-panel);

    margin: 5em;
    padding: 5em;

    border-radius: 15px;

    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "title switch"
        "content content"
    ;
}

h1 {
    margin: 0;
    color: var(--color-text);
}

p {
    color: var(--color-text);
    grid-area: content;
    font-size: 1.1em;
    line-height: 1.8em;
    margin-top: 2em;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}