* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* height: 100%; */
    font-family: 'Montserrat';
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #aad3de;
    --color-text: #333333;
}

body {
    background-color: var(--bg);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 70vh 10vh;
    grid-template-areas: "header header"
                         "main main"
                         "nav aside"
                         "footer footer"
    ;   

}

<<<<<<< Updated upstream
/* header container */
.topnav {
    overflow: hidden;
    background-color: tomato;
    height: 47px;
}

.nav-right > a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 12px;
}

.nav-right > a:hover {
    background: royalblue;
}

.nav-right {
    float: right;
    padding: 12px;
}

.topnav > h1 {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

/* Mobile navigation */
.burgue-nav {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    display: none;
    cursor: pointer;
}

.itens-burgue {
    background: white;
    width: 40px;
    height: 5px;
    margin-bottom: 5px;
}

.mobile-nav {
    text-align: center;
    display: none;
}

.mobile-nav > a {
    text-decoration: none;
    animation-delay: 3.5s;
    width: 100%;
    display: block;
    background: red;
    border-bottom: 1px solid #00000030;
    padding: 12px ;
    color: white;
}


/* container main map */
.container {
    display: flex;
    flex-flow: row wrap;
    background: red;
    max-width: 95%;
    margin: auto;
}

/* Title section */
section {
    border-bottom: 1px solid burlywood;
    width: 100vw;
    padding: 10px 10px;

}

/* map settings */
.container-map {
    width: 100vw;
}

#mapid {
    height: 80vh;
}

/* information section */
section.iss-realtime-info {

}

section.iss-realtime-info > div {

}

section.iss-realtime-info > div > h4 {
    font-size: 30px;
}






/* about iss */
nav.about-iss {
    border-bottom: 2px solid #1C6EA4;
    border-radius: 0px 40px 0px 40px;
    grid-area: about-iss;
    background-color: blueviolet;
}

footer {
    border: 1px solid red;
    grid-area: footer;
}

/* Button ligth/dark mode */
.container-dark-mode {
=======
/* header */
header {
    background-color: red;
    grid-area: header;
}

/* header h1 {
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header h2 {
    background-color: #ccc;
    height: 2px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 40px;
} */



main #mapid{
    grid-area: main;
    height: 30px;
}

nav {
    height: 30px;
    background-color: violet;
}

aside {
    height: 30px;
    background-color: yellowgreen;
}

/* Button ligth/dark mode */
/* .container {
>>>>>>> Stashed changes
    background-color: var(--bg-panel);

    margin: 5em;
    padding: 5em;

    border-radius: 15px;

    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "title switch"
        "content content"
    ;
}

h1 {
    margin: 0;
    color: var(--color-text);
}

p {
    color: var(--color-text);
    grid-area: content;
    font-size: 1.1em;
    line-height: 1.8em;
    margin-top: 2em;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
<<<<<<< Updated upstream
}





@media screen and (max-width: 768px) {
    .nav-right {
        display: none;
    }

    .burgue-nav {
        display: block;
    }
    
}
=======
} */
>>>>>>> Stashed changes
